// scss/common.scss

@use 'utils/variables' as *;
@use 'utils/mixins' as *;
@use 'utils/functions' as *;
@use 'components/header';
@use 'components/footer';
@use 'components/buttons';
// Всі загальні компоненти, які потрібні на всіх сторінках


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}
