<footer class="footer">
  <div class="container footer">
    <!-- Column 1 -->
    <div class="footer_col">
      <div class="logo">
        <!-- logo -->
        <svg width="40" height="41.5" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
        <h4>SkillForge</h4>
      </div>
      <p class="footer_text" data-i18n="footer.description">
        Gain the tech skills to power your career and build the future you want. <br>
        Your journey to a dream job in tech starts here.
      </p>
      <div class="footer_socials">
        <a href="#" aria-label="Facebook"><img src="/images/footer/Facebook.png" width="40" height="40" alt="Facebook"></a>
        <a href="#" aria-label="Instagram"><img src="/images/footer/Inst.png" width="40" height="40" alt="Instagram"></a>
        <a href="#" aria-label="LinkedIn"><img src="/images/footer/LinkedIn.png" width="40" height="40" alt="LinkedIn"></a>
        <a href="#" aria-label="YouTube"><img src="/images/footer/YouTube.png" width="40" height="40" alt="YouTube"></a>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="footer_col">
      <p data-i18n="footer.home">Home</p>
      <ul>
        <li><a href="#career-path" data-i18n="footer.career">Career Paths</a></li>
        <li><a href="#Companies" data-i18n="footer.partners">Hiring Partners</a></li>
        <li><a href="#popular-courses" data-i18n="footer.popular">Popular Courses</a></li>
        <li><a href="#testimonials" data-i18n="footer.testimonials">Testimonials</a></li>
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="footer_col">
      <p data-i18n="footer.links">Quick Links</p>
      <ul class="footer_links">
        <li><a href="/" data-i18n="nav.home">Home</a></li>
        <li><a href="/courses" data-i18n="nav.courses">Courses</a></li>
        <li><a href="#" data-i18n="nav.about">About Us</a></li>
        <li><a href="/pricing" data-i18n="nav.pricing">Pricing</a></li>
      </ul>
    </div>

    <!-- Column 4 -->
    <div class="footer_col">
      <p data-i18n="footer.contacts">Contacts</p>
      <ul class="footer_contacts">
        <li>
          <img src="/images/footer/mail.png" width="21" height="19.1" alt="Email icon">
          <span data-i18n="footer.email">hello@skillforge.com</span>
        </li>
        <li>
          <img src="/images/footer/phone.png" width="21" height="24.4" alt="Phone icon">
          <span data-i18n="footer.phone">+1 (555) 123-4567</span>
        </li>
        <li>
          <img src="/images/footer/location.png" width="16.5" height="23.5" alt="Location icon">
          <span data-i18n="footer.location">Somewhere in the World</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer_bottom">
    <hr>
    <p data-i18n="footer.rights">© 2025 SkillForge. All rights reserved.</p>
  </div>
</footer>
