<header class="header">
  <div class="col">
    <div class="logo">
      <!-- logo -->
      <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M35.9957 27.5771C37.6836 25.8893 38.6318 23.6001 38.6318 21.2131C38.6318 18.8262 37.6836 16.537 35.9957 14.8492C34.3079 13.1614 32.0187 12.2131 29.6318 12.2131C27.2448 12.2131 24.9557 13.1614 23.2678 14.8492L27.503 19.0844C28.0676 18.5198 28.8333 18.2026 29.6318 18.2026C30.4302 18.2026 31.196 18.5198 31.7606 19.0844C32.3252 19.6489 32.6424 20.4147 32.6424 21.2131C32.6424 22.0116 32.3252 22.7773 31.7606 23.3419L35.9957 27.5771Z" fill="#5C50E1"/>
        <path d="M23.2678 2.12127L7.00438 18.3847C5.8328 19.5563 5.8328 21.4558 7.00438 22.6274L13.3683 28.9913M23.9749 39.5979L13.3683 28.9913M13.3683 28.9913L19.0252 23.3345L25.3892 16.9705M33.8744 25.4558L26.8034 32.5269" stroke="#5C50E1" stroke-width="6" stroke-linejoin="round"/>
        <path d="M20.0417 26.5448C19.2292 27.4428 18.2437 28.1675 17.1444 28.6756C16.0451 29.1837 14.8545 29.4647 13.6441 29.5018C12.4336 29.5389 11.2281 29.3313 10.0997 28.8915C8.97137 28.4517 7.94339 27.7886 7.07736 26.9421C6.21132 26.0956 5.52503 25.083 5.0596 23.9649C4.59418 22.8469 4.35918 21.6464 4.36869 20.4354C4.37819 19.2244 4.63201 18.0278 5.11493 16.9172C5.59786 15.8066 6.29995 14.8049 7.17918 13.972L11.283 18.3045C10.9867 18.5851 10.7502 18.9226 10.5875 19.2968C10.4247 19.671 10.3392 20.0742 10.336 20.4823C10.3328 20.8903 10.412 21.2948 10.5688 21.6715C10.7256 22.0482 10.9569 22.3894 11.2487 22.6746C11.5405 22.9599 11.8869 23.1833 12.267 23.3315C12.6472 23.4797 13.0534 23.5496 13.4613 23.5371C13.8692 23.5246 14.2703 23.4299 14.6407 23.2587C15.0111 23.0875 15.3431 22.8433 15.6169 22.5408L20.0417 26.5448Z" fill="#5C50E1"/>
      </svg>
      <h4 aria-label="SkillForge">SkillForge</h4>
    </div>
    <nav aria-label="Main navigation">
      <ul>
        <li><a href="/" data-i18n="nav.home">Home</a></li>
        <li><a href="/courses" data-i18n="nav.courses">Courses</a></li>
        <li><a href="#" data-i18n="nav.about">About</a></li>
        <li><a href="/pricing" data-i18n="nav.pricing">Pricing</a></li>
      </ul>
    </nav>
  </div>
  <button class="btn clear-btn" data-i18n="btn.login">Login</button>
  <button class="btn solid purple signup-btn" data-i18n="btn.signup">Sign Up</button>
</header>