// Просто мої шрифти
.h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 4.5rem; // 72px
  line-height: 1.1;
}

.h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3.125rem; // 50px
  line-height: 1.2;
}

.h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2.25rem; // 36px
  line-height: 1.3;
}

.h4-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5625rem; // 25px
  line-height: 1.4;
}

.h4-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.5625rem; // 25px
  line-height: 1.4;
}

.body-l-semibold {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 1.5625rem; // 25px
  line-height: 1.5;
}

.body-l-regular {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 1.5625rem; // 25px
  line-height: 1.6;
}

.body-m-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 1.125rem; // 18px
  line-height: 1.5;
}

.body-m-medium {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 1.125rem; // 18px
  line-height: 1.5;
}

.body-s-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 1rem; // 16px
  line-height: 1.5;
}

.body-s-semibold {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 1rem; // 16px
  line-height: 1.5;
}

.body-s-regular {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 1rem; // 16px
  line-height: 1.6;
}

.body-xs-semibold {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 0.75rem; // 12px
  line-height: 1.4;
}

.body-xs-light {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 0.75rem; // 12px
  line-height: 1.4;
}